body {
    background-color: lightskyblue;
}

.container {
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: blue;
}

.side-grid {
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: coral;
    margin-left: 50px;

}

.side-grid div {
    height: 20px;
    width: 20px;
}