body {
    background-color: lightskyblue;
    font-family: monospace;
    text-align: center;
}

button {
    border-radius: 5px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    border-radius: 5px;
    border: crimson;
}

.grid div {
    height: 20px;
    width: 20px;
    border: black;
    border-radius: 5px;
}

.tetromino {
    background-color: blue;
}

.side-grid {
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: coral;
    border-radius: 5px;
    margin-left: 50px;

}

.side-grid div {
    height: 20px;
    width: 20px;
    border: black;
    border-radius: 5px;
}